<div class="card">
  <div class="card-header bg-primary text-light">
    {{title}}
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" name="nome"  required minlength="3" class="form-control" #nome="ngModel" [(ngModel)]="cliente.nome">

      <label for="endereco">Endereco</label>
      <textarea name="endereco"  required minlength="30" rows="3" class="form-control" #endereco="ngModel" [(ngModel)]="cliente.endereco"></textarea>

      <label for="lim-credito">Limite de crédito</label>
      <input type="number" name="lim-credito" required class="form-control" #limiteCredito="ngModel" [(ngModel)]="cliente.limiteCredito">

      <button type="submit" class="btn btn-primary">Salvar</button>
      <a class="btn btn-secondary ml-2" routerLink="/clientes" > Cancelar </a>
    </div>
  </form>
</div>
